.intro-container {
    background-color: #d8e2dc;
}

.intro {
    max-width: 60ch;
    margin: 0 auto;
    padding-block: 2em;
    padding-inline: 1.4em;
    color: #023e8a;
}

.intro .hero-img {
    display: block;
    width: 20ch;
    margin: auto;
}

.converter {
    padding-block: 3em;
    padding-inline: 1.3em;
}