@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #f8edeb;
  padding: 1em .2em;
  text-align: center;
  color: #457b9d;
}

header h1 {
  font-size: 2.3em;
}

button {
  font-size: 16px;
}

.sr-only {
  position: absolute;
  left: -100%;
}